node_modules
.next
.git
.gitignore
.env
.env.*
!.env.example
README.md
DEPLOY.md
hardhat.config.ts
contracts
scripts
artifacts
cache
typechain-types
deployments/*.json
!deployments/deployments.json
*.md
!README.md
